.truth-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  font-family:"Spartan", monospace;
}

.truth-box {
  text-align: center;
  color: #7a29ad;
}

.flex-start{
  align-self: flex-start;
  color:white;
  margin-left: 20px;
}

.truth-button{
  color: #7a29ad;
  align-self: center;
  margin-top: 40px;
}
